# Backend API
fastapi==0.103.0
uvicorn[standard]==0.23.2

# Frontend Streamlit
streamlit>=1.32.0

# Deep Learning / Image
tensorflow==2.16.1
keras==3.0.5
pillow
numpy
scikit-image

# I/O & Utils
python-multipart
requests
